Repository jeancdevx/blockio: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx prettier . --write, eslint --fix

feat: add auth setup
  app/api/auth/[...all]/route.ts
  db/schema.ts
  lib/auth-client.ts
  lib/auth.ts
Due: npx prettier . --write, eslint --fix

feat: add auth ui
  app/(auth)/layout.tsx
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  components/auth/views/index.ts
  components/auth/views/sign-in-view.tsx
  components/auth/views/sign-up-view.tsx
Due: npx prettier . --write, eslint --fix

feat: add auth socials
  app/(auth)/sign-in/page.tsx
  app/(auth)/sign-up/page.tsx
  components/auth/views/sign-in-view.tsx
  components/auth/views/sign-up-view.tsx
  components/ui/button.tsx
  lib/auth.ts
  package-lock.json
  package.json
Due: npx prettier . --write, eslint --fix

refactor: update sign-in and sign-up logic
  components/auth/views/sign-in-view.tsx
  components/auth/views/sign-up-view.tsx
Due: npx prettier . --write, eslint --fix

feat: update user requirements
  requirements/functional-requirements.txt
Due: none

chore: update use case requirements diagram
  diagrams/use_cases_requirements.png
Due: none

feat: update logo
  public/logo.svg
Due: none

fix: correct logo name from BlockITO to BlockIO
  components/auth/views/sign-in-view.tsx
  components/auth/views/sign-up-view.tsx
  components/logo/logo.tsx
  package.json
Due: npx prettier . --write, eslint --fix

feat: add tables for database schema
  db/index.ts
  db/schema.ts
  diagrams/er.md
  scripts/reset.ts
Due: npx prettier . --write, eslint --fix

refactor: remove score field from interview and update relations for user, session, account, and cv
  db/schema.ts
Due: npx prettier . --write, eslint --fix

refactor: update db schema
  db/schema.ts
Due: npx prettier . --write, eslint --fix

feat: add UserButton component
  components/auth/user/index.ts
  components/auth/user/user-button-skeleton.tsx
  components/auth/user/user-button.tsx
  components/ui/skeleton.tsx
  lib/auth.ts
Due: npx prettier . --write, eslint --fix

feat: add area crud
  actions/area.ts
  app/(rrhh)/area/[areaId]/page.tsx
  app/(rrhh)/area/create/page.tsx
  app/(rrhh)/area/layout.tsx
  app/(rrhh)/area/page.tsx
  components/rrhh/area/area-view.tsx
  components/rrhh/area/form/create-form.tsx
  components/rrhh/area/form/update-form.tsx
  components/rrhh/area/index.ts
  components/rrhh/header/header.tsx
  components/rrhh/header/index.ts
  components/rrhh/navigation/index.ts
  components/rrhh/navigation/navigation.tsx
  components/ui/button.tsx
  db/queries.ts
  db/schema.ts
  lib/utils.ts
  package-lock.json
Due: npx prettier . --write, eslint --fix

feat: update ui colors/views/logo
  components/auth/user/user-button.tsx
  components/auth/views/sign-in-view.tsx
  components/auth/views/sign-up-view.tsx
  components/landing/header/header.tsx
  components/logo/logo.tsx
  lib/auth.ts
  public/logo.svg
  scripts/reset.ts
  styles/globals.css
Due: npx prettier --write, npx prettier . --write, eslint --fix

refactor: update db schema
  db/schema.ts
  scripts/reset.ts
  scripts/seed.ts
Due: npx prettier . --write, eslint --fix

feat: implement job offer creation and management features
  actions/job-offer.ts
  app/(rrhh)/job-offer/create/page.tsx
  app/(rrhh)/job-offer/page.tsx
  app/(rrhh)/layout.tsx
  components/auth/user/user-button.tsx
  components/rrhh/header/header.tsx
  components/rrhh/jobs/form/create-form.tsx
  components/rrhh/jobs/index.ts
  components/rrhh/jobs/job-view.tsx
  components/ui/button.tsx
  db/schema.ts
  lib/utils.ts
  package.json
Due: npx prettier . --write, eslint --fix

chore: update use cases requirements diagram
  diagrams/use_cases_requirements.png
Due: none

feat: enhance UI components and integrate data table for area management
  components/auth/user/user-button.tsx
  components/auth/views/sign-in-view.tsx
  components/auth/views/sign-up-view.tsx
  components/landing/header/header.tsx
  components/rrhh/area/area-view.tsx
  components/rrhh/area/form/create-form.tsx
  components/rrhh/area/form/update-form.tsx
  components/rrhh/area/table/columns.tsx
  components/rrhh/area/table/data-table.tsx
  components/ui/button.tsx
  package-lock.json
  package.json
Due: npx prettier . --write, eslint --fix

docs: add class diagram to documentation
  README.md
  diagrams/classes.png
Due: none

refactor: update database schema
  db/schema.ts
Due: npx prettier . --write, eslint --fix

feat: add requirements field to job offer schema and update related queries
  db/queries.ts
  db/schema.ts
Due: npx prettier . --write, eslint --fix

refactor: remove user permission check from area creation and enhance area loading UI
  actions/area.ts
  app/(rrhh)/area/create/page.tsx
  app/(rrhh)/area/page.tsx
  components/rrhh/area/area-view.tsx
  components/rrhh/area/table/columns.tsx
Due: npx prettier . --write, eslint --fix

refactor: reorder database reset operations and remove jobApplication deletion
  scripts/reset.ts
Due: npx prettier . --write, eslint --fix

feat: add job offer edit page and form components
  app/(rrhh)/job-offer/[jobOfferId]/edit/page.tsx
  app/(rrhh)/job-offer/[jobOfferId]/page.tsx
  app/(rrhh)/job-offer/create/page.tsx
  app/(rrhh)/job-offer/page.tsx
  components/rrhh/jobs/form/create-form.tsx
  components/rrhh/jobs/form/edit-form.tsx
  components/rrhh/jobs/form/index.ts
  components/rrhh/jobs/views/index.ts
  components/rrhh/jobs/views/job-offer-detail-view.tsx
  components/rrhh/jobs/views/job-offer-list-view.tsx
Due: npx prettier . --write, eslint --fix

feat: add TRPC setup
  .prettierrc
  app/api/trpc/[trpc]/route.ts
  app/empleos/page.tsx
  package-lock.json
  package.json
  trpc/client.tsx
  trpc/init.ts
  trpc/query-client.ts
  trpc/routers/_app.ts
  trpc/server.tsx
Due: npx prettier . --write, eslint --fix

refactor: update area view
  actions/area.ts
  app/(rrhh)/area/[areaId]/loading.tsx
  app/(rrhh)/area/[areaId]/not-found.tsx
  app/(rrhh)/area/[areaId]/page.tsx
  app/(rrhh)/area/create/page.tsx
  components/rrhh/area/form/create-form.tsx
  db/queries.ts
  public/empty.svg
Due: npx prettier . --write, eslint --fix

refactor: update areas page
  actions/area.ts
  app/(rrhh)/area/[areaId]/not-found.tsx
  app/(rrhh)/area/[areaId]/page.tsx
  app/(rrhh)/area/create/loading.tsx
  app/(rrhh)/area/not-found.tsx
  app/(rrhh)/area/page.tsx
  components/rrhh/area/table/columns.tsx
  components/rrhh/area/table/data-table-skeleton.tsx
  db/queries.ts
  package-lock.json
  package.json
Due: npx prettier . --write, eslint --fix

feat: add component diagram for BlockIO system architecture
  componentes.md
Due: none

refactor: update component diagram to reflect system architecture changes
  componentes.md
Due: none

feat: implement area management features with create, update, and report functionalities
  app/(rrhh)/area/(forms)/[areaId]/page.tsx
  app/(rrhh)/area/(forms)/create/page.tsx
  app/(rrhh)/area/(forms)/loading.tsx
  app/(rrhh)/area/create/loading.tsx
  app/(rrhh)/area/page.tsx
  app/(rrhh)/area/report/page.tsx
  components/rrhh/area/area-view.tsx
  components/rrhh/area/chart/index.ts
  components/rrhh/area/chart/job-offer-by-area-chart.tsx
  components/rrhh/area/index.ts
  components/rrhh/area/job-offer-by-area.tsx
  db/queries.ts
  hooks/use-chart-data.ts
  styles/globals.css
Due: npx prettier --write, npx prettier . --write, eslint --fix

refactor: remove unused TRPC files and simplify UserButton and Header components
  app/api/trpc/[trpc]/route.ts
  components/auth/user/user-button.tsx
  components/landing/header/header.tsx
  components/ui/badge.tsx
  components/ui/navigation-menu.tsx
  components/ui/skeleton.tsx
  package.json
  trpc/client.tsx
  trpc/init.ts
  trpc/query-client.ts
  trpc/routers/_app.ts
  trpc/server.tsx
Due: npx prettier . --write, eslint --fix

feat: add component diagram for BlockIO system architecture
  diagrams/componentes-rup.md
Due: none

refactor: update UML component diagram to include interfaces, ports, and connectors
  diagrams/componentes-rup.md
Due: none

feat: add detailed component diagram for system architecture
  diagrams/componentes-mermaid.md
Due: none

fix: remove unnecessary line breaks in PostgreSQL DB diagram
  diagrams/componentes-mermaid.md
Due: none

feat: add comprehensive Entity Relationship Diagram for BlockIO HR system
  er-diagram.md
Due: none

fix: update Next.js version to 15.3.8 in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

Path conditions:
  npx prettier --write: any of: *.{css,scss}
  npx prettier . --write: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
